{
  "sourceMaps": true,
  "presets": [
    ["es2015", { "modules": false }],
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-class-properties",
    "transform-object-rest-spread",
    "dynamic-import-webpack",
    ["module-resolver", {
      "root": ["./src"]
    }]
  ]
}
