// General color scheme
$ui-white: #fff !default;
$ui-white-darken-3: darken($ui-white, 3%) !default;
$ui-white-darken-5: darken($ui-white, 5%) !default;
$ui-white-darken-8: darken($ui-white, 8%) !default;
$ui-white-darken-16: darken($ui-white, 16%) !default;

$ui-black: #40485a !default;
$ui-black-lighten: lighten($ui-black, 10%) !default;
$ui-black-darken: darken($ui-black, 10%) !default;

$ui-green: #3ac88e !default;
$ui-green-lighten: lighten($ui-green, 10%) !default;
$ui-green-darken: darken($ui-green, 10%) !default;

$ui-red: #ff4e4e !default;
$ui-red-lighten: lighten($ui-red, 10%) !default;
$ui-red-darken: darken($ui-red, 10%) !default;

$ui-blue: #286fdc !default;
$ui-blue-lighten: lighten($ui-blue, 10%) !default;
$ui-blue-darken: darken($ui-blue, 10%) !default;

// Aliases
$ui-text: $ui-black !default;
$ui-disabled: $ui-white-darken-16 !default;
$ui-success: $ui-green !default;
$ui-info: $ui-blue !default;
$ui-primary: $ui-red !default;